{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} / {{ page.title }}
{% endblock %}

{% block content %}
    {% include 'links.html.twig' %}
    {% for item in content %}
        <div class="item">{{item|raw}}</div>
    {% endfor %}
    {% include 'links.html.twig' %}
{% endblock %}