{% extends 'layout.xml.twig' %}
{% block content %}
    <title>{{ app.config.title }}</title>
    <description>Welcome to Light Reader, please choose a site in the menu, and enjoy your read.</description>
{% endblock %}