{% extends 'mobile/layout.html.twig' %}

{% block title %}
    {{ page.title }} / {{ parent() }}
{% endblock %}

{% block content %}
    {% for item in content %}
        <div class="item" onclick="toggleBM(this);">{{item|raw}}</div>
    {% endfor %}
{% endblock %}
