{% extends 'mobile/layout.html.twig' %}

{% block title %}
    {{ parent() }} / {{ page.title }}
{% endblock %}

{% block links %}
    {% if app.config.infiniteScroll != true %}
        {% include 'mobile/links.html.twig' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% for item in content %}
        <div class="item">{{item|raw}}</div>
    {% endfor %}
{% endblock %}
