<div id="menu" class="shadow">
    <a href="/" id="menuToggle" class="collapsed">Sites <span id="menuAction" class="right">+</span></a>
	<ul id="menuList" class="menuItems">
		{% for item in app.menu_links %}
			<li{% if item[0] == page.active %} class="active"{% endif %}>
			<a href="{{ app.url_generator.generate( item[0] ) }}">{{ item[1] }}</a></li>
		{% endfor %}
	</ul>
</div>