<div id="menuHome">
    <ul>
        {% for item in app.menu_links  %}
            {% if not loop.first %}
                <li><a href="{{ app.url_generator.generate( item[0] ) }}">{{ item[1] }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div>